table, th, td{
    border: 1px solid black;
    margin-top: 15px;
}

th {
    height: 20px;
    width: 80px;
}

/* Notes for the team: The pe-3 class assigned to <th> overides this .name class */
.name {
    width: 100px;
}

.center {
    text-align: center;
}
