table, th, td{
  border: 2px solid black;
}

table{
  border: 2px solid black;
  width: 20%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

td{
  text-align: center;
  vertical-align: middle;
}

th, td{
  padding: 15px;
}

#newPerscription{
 background-color: #008CBA;
 color: white;
 border: none;
 padding: 10px 4px;
 margin-left: 10px;
 margin-top: 10px;
 cursor: pointer;
 width: 15%;
 font-size: 13px;
}

#submit{
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 4px;
  margin-right: 5%;
  margin-top: 5px;
  cursor: pointer;
  width: 10%;
  font-size: 13px;
  float: right;
}

#hide{
  display: none;
}
