<!-- FOOTER -->
<footer class="py-3 p-3 bg-dark mb-3 text-white">
  <ul class="nav justify-content-center pb-1 mb-1 border-top border-bottom">
    <li class="nav-item"><a href="terms-of-use.php" class="nav-link px-1 text-light">Terms of Use</a></li>
    <li class="nav-item nav-link px-2 text-light">|</li>
    <li class="nav-item"><a href="privacyStatement.php" class="nav-link px-1 text-light">Privacy Statement</a></li>
  </ul>
  <p class="text-center text-light">© 2021 ElderlyCare Management System, Inc</p>
</footer>
<!-- END OF FOOTER -->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  -->
</body>
</html>
