<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">

<div class="me-5 pe-5">
  <a href="home.php" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
    <img src="images/elderlycare-logo.png" alt="ElderlyCare Management System Logo">
  </a>
</div>

<!-- LOGIN/LOGOUT BUTTONS -->
    <div class="ms-5 ps-5">
          <button type="button" class="btn btn-outline-light me-2" value="Login" onclick="window.location.href='login.php';">Login</button>
          <button type="button" class="btn btn-info text-light" value="Register" onclick="window.location.href='register.php';">Sign-up</button>
    </div>
  </div>
</div>

</header>
<!-- END OF NAV BAR -->
