<!--
PATIENTS:
Patient’s Home
Roster
-->
<div class="rounded-0 bg-dark visible"> <!-- Made div visible -->
  <!-- SIDE BAR -->
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark rounded-3">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="patientHome.php" class="nav-link">Patient's Home</a>
      </li>
      <li class="nav-item">
        <a href="roster.php" class="nav-link">Roster</a>
      </li>
    </ul>
    <hr>
  </div>
  <!-- END OF SIDE BAR -->
</div>
