<div class="rounded-0 bg-dark visible"> <!-- Made div visible -->
  <!-- SIDE BAR -->
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark rounded-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-5" width="16" height="16"><use xlink:href="#home"></use></svg>
          Side Ever 1
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-5" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Side Ever 2
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-5" width="16" height="16"><use xlink:href="#table"></use></svg>
          Side Ever 3
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-5" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Side Ever 4
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-5" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Side Ever 5
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <!-- END OF SIDE BAR -->
</div>
