<!--
SUPERVISOR:
Admin’s Report
Additional Patient Info
Doctor’s Appointment
Employee
Patients
Registration Approval
Roster
New Roster
-->
<div class="rounded-0 bg-dark visible"> <!-- Made div visible -->
  <!-- SIDE BAR -->
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark rounded-3">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="adminReport.php" class="nav-link">Admin’s Report</a>
      </li>
      <li class="nav-item">
        <a href="patientInformation.php" class="nav-link">Additional Patient Info</a>
      </li>
      <li class="nav-item">
        <a href="appointment.php" class="nav-link">Doctor’s Appointment</a>
      </li>
      <li class="nav-item">
        <a href="employee.php" class="nav-link">Employee</a>
      </li>
      <li class="nav-item">
        <a href="patient.php" class="nav-link">Patients</a>
      </li>
      <li class="nav-item">
        <a href="registrationApproval.php" class="nav-link">Registration Approval</a>
      </li>
      <li class="nav-item">
        <a href="roster.php" class="nav-link">Roster</a>
      </li>
      <li class="nav-item">
        <a href="newRoster.php" class="nav-link">New Roster</a>
      </li>
    </ul>
    <hr>
  </div>
  <!-- END OF SIDE BAR -->
</div>
